params {

  bam_files = "path/to/cram/files/*.cram" // BAM or CRAM files. Each file must have the corresponding .bam.bai or .cram.crai index file.

  // Settings
  chromosomes = ["chr1"]

  // Thresholds for the accessibility mask
  min_dp = 10 // Minimal DP required for the "good coverage" regions
  min_pct_ind = 1 // Minimal percent of individuals with coverage >min_dp required for "good coverage" regions
}


process {
        executor = "slurm"
        clusterOptions = "--account="
        cpus = 1
        time = "5d"
        memory = "3.5G"
}

executor {
    $slurm {
        queueSize = 1000
        jobName = { "coverage" }
}
}
