params {

  // Glob of cram files assumes filename format ID.*.cram
  cram_files = "path/to/cram/files/*.cram"

  // Settings
  chromosomes = ["chr1"]
}


process {
        executor = "slurm"
        clusterOptions = "--account="
        cpus = 1
        time = "5d"
        memory = "3.5G"
}

executor {
    $slurm {
        queueSize = 1000
        jobName = { "coverage" }
}
}
